### List

+ list is a collection of various kind of data

+ it is denoted by [ ] Square brackets

In [1]:
l = ["khan","Germany",1,2,3,True]

In [2]:
l

['khan', 'Germany', 1, 2, 3, True]

In [3]:
for i in l:
    print(l)

['khan', 'Germany', 1, 2, 3, True]
['khan', 'Germany', 1, 2, 3, True]
['khan', 'Germany', 1, 2, 3, True]
['khan', 'Germany', 1, 2, 3, True]
['khan', 'Germany', 1, 2, 3, True]
['khan', 'Germany', 1, 2, 3, True]

In [4]:
for i in l:
    print(i)

khan
Germany
1
2
3
True

#### we can make list in a list

In [5]:
l = ["khan","berlin",12,3,[1,2,3,"yes"],False]

In [6]:
l

['khan', 'berlin', 12, 3, [1, 2, 3, 'yes'], False]

In [33]:
for i in l:
    print(l)

['khan', 'berlin', 12, 3, [1, 2, 3, 'yes'], False]
['khan', 'berlin', 12, 3, [1, 2, 3, 'yes'], False]
['khan', 'berlin', 12, 3, [1, 2, 3, 'yes'], False]
['khan', 'berlin', 12, 3, [1, 2, 3, 'yes'], False]
['khan', 'berlin', 12, 3, [1, 2, 3, 'yes'], False]
['khan', 'berlin', 12, 3, [1, 2, 3, 'yes'], False]

In [34]:
for i in l:
    print(i)

khan
berlin
12
3
[1, 2, 3, 'yes']
False

In [35]:
# parse through a list we use index
l[1]

'berlin'

In [36]:
l[::-1]# reverse direction

[False, [1, 2, 3, 'yes'], 3, 12, 'berlin', 'khan']

In [37]:
l

['khan', 'berlin', 12, 3, [1, 2, 3, 'yes'], False]

In [38]:
# lets make every element if its list or not we use for loop
for i in l:
    if type(i)== list:
        print("this is a list",i)
else:
    print("this is not a list",i)

this is a list [1, 2, 3, 'yes']
this is not a list False

In [39]:
# to print all elements put else: in side loop
for i in l:
    if type(i)== list:
        print("this is a list",i)
    else:
        print("this is not a list",i)

this is not a list khan
this is not a list berlin
this is not a list 12
this is not a list 3
this is a list [1, 2, 3, 'yes']
this is not a list False

+ list can concatenate

In [40]:
l

['khan', 'berlin', 12, 3, [1, 2, 3, 'yes'], False]

In [41]:
l1 = ["usa",1,2,33]

In [42]:
l + l1

['khan', 'berlin', 12, 3, [1, 2, 3, 'yes'], False, 'usa', 1, 2, 33]

In [43]:
l * 2

['khan',
 'berlin',
 12,
 3,
 [1, 2, 3, 'yes'],
 False,
 'khan',
 'berlin',
 12,
 3,
 [1, 2, 3, 'yes'],
 False]

In [44]:
len(l)

6

In [45]:
len(l1)

4

#### checking elements in list

In [46]:
True in l

False

In [47]:
"khan" in l

True

In [48]:
"berlin" in l1

False

In [49]:
print(max([2.323,324,454677]))

454677

In [50]:
print(max(["khan","berlinnn"]))#based on alphabetical
#order it will return max

khan

In [51]:
print(max(["ber","khan"]))

khan

In [52]:
max(["khan,12,3234"]) #it will not do a comparision

'khan,12,3234'

In [53]:
mylist=[1,2,3]
mylist[1]=6

In [54]:
print(mylist)

[1, 6, 3]

In [55]:
max("khan","y") #based on alphabatical order it will return max

'y'

In [56]:
min(["apple","zoo"])

'apple'

In [57]:
min([1,2,4,5,6])

1

In [58]:
min([1,2,4,5,6,"apple"])# it will not work with combination
#of string and int

TypeError: '<' not supported between instances of 'str' and 'int'

#### .append( )  # it will append data in the last position

In [59]:
l = [1,2,3,4]

In [60]:
l.append('my name')

In [61]:
l

[1, 2, 3, 4, 'my name']

#### appending list to list

In [62]:
l2 = [4324,"khan"]

In [63]:
l.append(l2)

In [64]:
l

[1, 2, 3, 4, 'my name', [4324, 'khan']]

In [65]:
# complex number appending
l

[1, 2, 3, 4, 'my name', [4324, 'khan']]

In [66]:
l.append(5+6j)

In [67]:
l

[1, 2, 3, 4, 'my name', [4324, 'khan'], (5+6j)]

In [68]:
l + "khan" # string and list can not work in this way

TypeError: can only concatenate list (not "str") to list

In [69]:
l.append("khan")
l

[1, 2, 3, 4, 'my name', [4324, 'khan'], (5+6j), 'khan']

### .insert() function (it will insert it anywhere we want base on index)

In [70]:
b = ["khan",3,4]

In [71]:
b.insert(1,"apple")
b

['khan', 'apple', 3, 4]

In [72]:
b.insert(-1,"yes") #reverse index
b

['khan', 'apple', 3, 'yes', 4]

In [73]:
b.count("yes")

1

In [74]:
b.count("khan")

1

### .extend() operation

In [75]:
l = [1,2,3,4,5]

In [76]:
l.append("khan")

In [77]:
l

[1, 2, 3, 4, 5, 'khan']

In [78]:
l.append(["123,4,555"])

In [79]:
l

[1, 2, 3, 4, 5, 'khan', ['123,4,555']]

In [80]:
l.extend("book1")# it will unraped it

In [81]:
l

[1, 2, 3, 4, 5, 'khan', ['123,4,555'], 'b', 'o', 'o', 'k', '1']

In [82]:
l.extend("123")

In [83]:
l

[1, 2, 3, 4, 5, 'khan', ['123,4,555'], 'b', 'o', 'o', 'k', '1', '1', '2', '3']

In [84]:
a = "how are you"

In [85]:
list(a)

['h', 'o', 'w', ' ', 'a', 'r', 'e', ' ', 'y', 'o', 'u']

In [86]:
l = [1,2,3,4]
l.extend([5,6,7,8]) ####big difference
l

[1, 2, 3, 4, 5, 6, 7, 8]

In [87]:
l.extend([22,3,4,[56,7,8]]) #extend will not itrate 
#thgouth second list in list
l

[1, 2, 3, 4, 5, 6, 7, 8, 22, 3, 4, [56, 7, 8]]

### .index()

In [88]:
l.index(3)

2

### .pop()     ( it will remove on base of index)

In [89]:
l.pop(3)

4

In [90]:
l

[1, 2, 3, 5, 6, 7, 8, 22, 3, 4, [56, 7, 8]]

In [91]:
l = [1,2,3,4]
l.pop(-1)

4

In [92]:
l

[1, 2, 3]

### .remove()

In [93]:
l

[1, 2, 3]

In [94]:
l.remove(2)

In [95]:
l

[1, 3]

In [96]:
l = [1,2,2,2,2,2,4,5,66]

In [97]:
l.remove(2)

In [98]:
l #it only remove first occurences

[1, 2, 2, 2, 2, 4, 5, 66]

+ in pop we saw it remove data on basis of index
+ in remove it will remove data on basis of matching

### .reverse()

In [99]:
l

[1, 2, 2, 2, 2, 4, 5, 66]

In [100]:
l.reverse()

In [101]:
l

[66, 5, 4, 2, 2, 2, 2, 1]

### .sort()

In [102]:
l.sort()

In [103]:
l

[1, 2, 2, 2, 2, 4, 5, 66]

In [104]:
l = [4,5,6,7,"book","eye"]

In [105]:
l.sort() # it will not sort in this way with strings
# unless its int

TypeError: '<' not supported between instances of 'str' and 'int'

In [106]:
### task
l = [[1,2,3],[3,2],[8,7,6]]
l

[[1, 2, 3], [3, 2], [8, 7, 6]]

In [107]:
l2 = ["khan",4,5]
l2

['khan', 4, 5]

In [108]:
l3 = ["car",44,55]
l3

['car', 44, 55]

In [109]:
l.append(l2)

In [110]:
l

[[1, 2, 3], [3, 2], [8, 7, 6], ['khan', 4, 5]]

In [111]:
l.append(l3)

In [112]:
l

[[1, 2, 3], [3, 2], [8, 7, 6], ['khan', 4, 5], ['car', 44, 55]]

In [113]:
l.insert(0,l2)

In [114]:
l

[['khan', 4, 5], [1, 2, 3], [3, 2], [8, 7, 6], ['khan', 4, 5], ['car', 44, 55]]

In [115]:
l.insert(0,l3)

In [116]:
l

[['car', 44, 55],
 ['khan', 4, 5],
 [1, 2, 3],
 [3, 2],
 [8, 7, 6],
 ['khan', 4, 5],
 ['car', 44, 55]]

In [117]:
l.pop(5)

['khan', 4, 5]

In [118]:
l

[['car', 44, 55],
 ['khan', 4, 5],
 [1, 2, 3],
 [3, 2],
 [8, 7, 6],
 ['car', 44, 55]]

In [119]:
l.pop(5)

['car', 44, 55]

In [120]:
l1 = []

In [121]:
for i in "khan":
    l1.append(i)

In [122]:
l1

['k', 'h', 'a', 'n']

In [123]:
l = []

In [124]:
for i in range(11):
    if i % 2 != 0:
         l.append("odd")
    else:
        l.append("even")

In [125]:
l

['even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even',
 'odd',
 'even']

In [126]:
my = []
for i in range(3):
    my.append([])
    for j in range(3):
        my[i].append(j)

In [127]:
my

[[0, 1, 2], [0, 1, 2], [0, 1, 2]]